.share
	margin-top: 30px
	margin-bottom: 30px
	border-bottom: 1px solid $brand
	text-align: right
	@media screen and (max-width: $screen-xs-max)
		text-align: center
		
	#shareme
		.box
			.social
				.fa
					font-size: 1.2em
					margin-bottom: 0px