.menu-sidebar
	> .nav-stacked
		border-right: 1px solid $brand
		@media screen and (max-width: $screen-xs-max)
			border: none
	.submenu
		margin: 15px 30px

@media screen and (max-width: $screen-xs-max)
	.menu-sidebar
		text-align: center